.mortgage_cycle_page{position: relative;padding: 85px 20px 65px;}
.mortgage_cycle_page h1{font-size: 65px; line-height: 40px;text-align: center;margin-bottom: 39px;}
.mortgage_cycle_page h2{ font-size: 22px; line-height: 24px;text-align: center;}
.mortgage_cycle_page .check_nav{margin-top: 39px;}
.mortgage_cycle_page .check_nav .number { margin-right: 0;margin-left: 21px; }
.mortgage_cycle_page .check_nav .title::after { right: auto; left: 100%; }
.mortgage_cycle_page .wrapper{max-width: 1308px;margin-top: 28px;}
.mortgage_cycle_page .right_col{width: 826px;padding-top: 44.39px;}
.mortgage_cycle_page .routs_note{display: flex;align-items: center;margin-top: 8px;}
.mortgage_cycle_page .routs_note img{margin-left: 20px;width: 24px;}
.mortgage_cycle_page .routs_note p{color: var(--green);font-size: 14px;line-height: 1;font-weight: 500;text-decoration: underline;}

.congratulation{position: absolute;bottom:calc(100% + 34px);right: 0;}
.congratulation .img{margin-left: 12px;}
.congratulation h3,
.congratulation p{font-size: 18px;line-height: 1;}

/* bank mortgage */
.bank_mortgage_sec{position: relative;border: 2.44px solid #4E8FF7;border-radius:18.29px;padding: 34px 49px 22.49px 73px;background: #FFFFFF;
background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(225, 240, 223, 1) 100%);}
.bank_mortgage_sec .bank_icon{position: absolute;width: 49px;height:49px;border-radius: 50%;box-shadow: 0 5px 5px #00000040;right: 50px;top: -28px;}
.bank_mortgage_sec .bank_icon img{width: 100%;height: 100%;object-fit: cover;object-position: center;border-radius: 50%;}
.bank_mortgage_sec .tag { font-size: 17px; line-height: 46px; font-weight: 400; padding: 0 45px; color: var(--white); background-color: #4E8FF7; border-radius: 0 0 10px 10px; text-align: center; position: absolute; left: 73px; top: 0; }
.bank_mortgage_sec h2{text-align: right;font-size: 22px;line-height: 30px;font-weight: 400;margin-bottom: 11px;}
.bank_mortgage_sec ul{}
.bank_mortgage_sec ul li{width:28%;padding-right: 0;}
.bank_mortgage_sec ul li:not(:nth-child(3n)){border-left:1.22px dashed #27450E36;}
.bank_mortgage_sec ul li:nth-child(2),
.bank_mortgage_sec ul li:nth-child(5){width: 44%;}
.bank_mortgage_sec ul li:nth-child(n+4){border-top: 1.22px dashed #27450E;margin-top: 8px;padding-top: 8px;}
.bank_mortgage_sec ul li:not(:nth-child(4),:first-child){padding-right:74px;}
.bank_mortgage_sec ul li:not(:first-child) h3{font-size: 17px;}
.bank_mortgage_sec ul li h3,
.bank_mortgage_sec ul li p{font-size:22px;line-height: 30px;}


/* comparison_graph */
.comparison_graph{width: 100%;margin-top: 107px;background-color: #FFFFFF;border-radius: 12px;box-shadow: 0 2px 48px #E276001F;padding: 15px 26px;}
.comparison_graph .chart_sec { max-width: 100%; display: flex; flex-direction: column-reverse; }
.comparison_graph .chart_tab {display: none;}
.comparison_graph .chart_sec .chart_inner { background-color: transparent; box-shadow: none; border-radius: 0; padding: 0; }
.comparison_graph .chart_sec .chart_legend { margin-bottom: 0; margin-top: 22px; }
.comparison_graph .chart_sec .chart-container { height: 302px; }
.comparison_graph .chart_sec .chart_title{margin-bottom: 14px;}
.comparison_graph .tooltip-item { font-size: 18px; line-height: 1; display: flex; align-items: center;font-weight: 500;} 
.comparison_graph .chart_sec .chart_legend>div { font-size: 14px; font-weight: 500; }

.mortgage_cycle_page .left_col{width: 440px;background-color:var(--white);border-radius: 15px;box-shadow: 0 4px 30px #00000040;padding: 45px 30px 30px;}
/* total_savings_box */
.total_savings_box{background-color: #2E4B37;border-radius: 16px;border: 1px solid #E5E7EB;box-shadow: 0 25px 50px #00000040;padding: 30px 18px;text-align: center;}
.total_savings_box h4{color: var(--white);font-weight: 400;font-size: 24px;line-height: 33px;}
.total_savings_box h2{color: var(--white);font-weight: 400;font-size: 60px;line-height: 82px;letter-spacing: -2px;}
.total_savings_box p{color: var(--white);font-weight: 400;font-size: 18px;line-height: 24px;margin-bottom: 34px;}
.total_savings_box span{display: block;color: var(--white);font-size: 14px;font-weight: 400;margin-top: 20px;}
.total_savings_box .btn{width: 100%; font-size: 20px; line-height: 24px; border-radius: 20px; padding: 29.5px 20px;font-weight: 500; box-shadow: 0 4px 30px #E2760052;}
.total_savings_box .btn em{font-style: normal;}
.total_savings_box .btn:hover{background-color: var(--white);color: var(--green);}

/* savings_list */
.mortgage_cycle_page .savings_list{max-width: 329px;margin:44px auto 0;}
.mortgage_cycle_page .savings_list ul{}
.mortgage_cycle_page .savings_list ul li{width: calc(50% - 4.5px);text-align: center;border: 1px dashed #27450E;border-radius: 15px;font-size: 18px;line-height: 24px;font-weight: 400;padding: 18px 10px 21px;color: var(--green);}
.mortgage_cycle_page .savings_list ul li:nth-child(n+3){margin-top: 12px;}
.mortgage_cycle_page .savings_list ul li strong{display: block;}

.barchart_sec{max-width: 329px;margin: 0 auto;background-color: #fff;box-shadow: 0 2px 48px #0000000A;border-radius: 12px;margin-top: 24px;padding: 0 13px 29px;position: relative;}
.barchart_sec h3{font-size: 18px;line-height: 24px;position: absolute;top:16px;right: 24px;}
.barchart_sec .recharts-tooltip-wrapper.recharts-tooltip-wrapper-left {margin-left: 62px !important;}
.barchart_sec .recharts-tooltip-wrapper.recharts-tooltip-wrapper-right{margin-left: -62px !important;}
.barchart_sec .recharts-tooltip-wrapper-bottom{top: -78px !important;bottom: auto !important;}
.barchart_sec .barchart_box{width: 100%;height: 204px;}
.barchart_sec .custom_tooltip { background-color: #F5F5F5; box-shadow: 0 4px 30px #00000040; font-size: 16px; font-weight: 500; color: #373A3D; text-align: center; line-height: 20px; padding: 4px 10px; border-radius: 8px;position: relative;}
.barchart_sec .custom_tooltip:after { content: ''; position: absolute; bottom: -3px; width: 10px; height: 8px; background-color: #F5F5F5; left: 0; right: 0; margin: 0 auto; transform:rotate(45deg); }

/* responsive */
@media (max-width:1850px) {
    .mortgage_cycle_page h1 { font-size: 50px; line-height: 40px; margin-bottom: 30px; }
}
@media (max-width:1399px) {
    .mortgage_cycle_page .wrapper { max-width: 1240px; }
    .mortgage_cycle_page .left_col { width: 390px; border-radius: 20px; padding: 20px 15px 20px; }
}
@media (max-width:1279px) {
    .mortgage_cycle_page .right_col { width:100%; }
    .mortgage_cycle_page .left_col { width: 100%;margin-top: 20px;}
    
}
@media (max-width:767px) {
    .mortgage_cycle_page { padding: 22px 0 168px; }
    .mortgage_cycle_page h1 { font-size: 22px; line-height: 24px; margin-bottom: 22px; font-weight: 300; }
    .mortgage_cycle_page h2 { font-size: 22px; line-height: 24px; padding: 0 20px; }
    .mortgage_cycle_page .check_nav { margin-top: 22px; }
    .mortgage_cycle_page .wrapper { margin-top: 20px; }
    .congratulation { position: relative; bottom: 0; right: 0; justify-content: center; width: 100%;}
    .mortgage_cycle_page .right_col { padding-top:33px; }
    .bank_mortgage_sec { border: 2px solid #4E8FF7; border-radius: 15px; padding: 28px 25px 9px; max-width: calc(100% - 60px); margin: 0 auto 19px; }
    .mortgage_cycle_page h2 { font-size: 18px; line-height: 24px; padding: 0; }
    .bank_mortgage_sec ul li h3, .bank_mortgage_sec ul li p { font-size: 18px; line-height: 24px; color: var(--green);}
    .bank_mortgage_sec ul li{border: none !important;}
    .bank_mortgage_sec ul li:first-child{width: 131px;padding-bottom: 8px;border-bottom: 1px dashed #27450E !important;margin-bottom: 8px;}
    .bank_mortgage_sec ul li:nth-child(2){width: calc(100% - 131px);padding: 0;padding-bottom: 8px;padding-bottom: 8px;border-bottom: 1px dashed #27450E !important;margin-bottom: 8px;}
    .bank_mortgage_sec ul li:nth-child(2) h3{font-size: 14px;}
    .bank_mortgage_sec ul li:nth-child(3){width: 25%;padding: 0;margin: 0;}
    .bank_mortgage_sec ul li:nth-child(4){width: 35%;padding: 0;margin: 0;text-align: center;border-left: 1px dashed #27450E36 !important;border-right: 1px dashed #27450E36 !important;}
    .bank_mortgage_sec ul li:nth-child(5){width: 40%;padding: 0;margin: 0;padding-right: 10px;}
    .bank_mortgage_sec ul li:nth-child(3) h3,
    .bank_mortgage_sec ul li:nth-child(4) h3,
    .bank_mortgage_sec ul li:nth-child(5) h3{font-size: 10px;}
    .bank_mortgage_sec ul li:last-child{width: 100%;padding: 0;border-top: 1px dashed #27450E !important;padding-top:8px;}
    .bank_mortgage_sec ul li:last-child h3{font-size: 14px;}
    .bank_mortgage_sec .bank_icon { width: 55px; height: 55px; right: 20px; top: -33px; }
    .bank_mortgage_sec .tag { font-size: 14px; line-height: 36px; padding: 0 24px; left: 33px; }
    .mortgage_cycle_page .routs_note { margin-right: 55px;margin-bottom: 11px;}
    .comparison_graph { padding: 15px 15px; max-width: calc(100% - 40px); margin: 90px auto 0;}
    .comparison_graph .chart_sec .chart-container { height: 220px; }
    .comparison_graph .chart_sec .chart_legend { margin-top: 0px; }
    .mortgage_cycle_page .left_col { width: 100%; margin-top: 20px; padding: 0; max-width: calc(100% - 60px); margin: 20px auto 0; background-color: transparent; box-shadow: none; }
    .mortgage_cycle_page .savings_list ul li{background-color: var(--white);}

    .total_savings_box { background-color: transparent; border-radius: 0; border: none; box-shadow: none; padding: 0; text-align: center; position: relative;}
    .total_savings_box .box{background-color: #27450E;border-radius: 15px;padding: 8px 125px 8px 10px;position: relative;margin-bottom: 18px;text-align: right;}
    .total_savings_box .box h2{font-size: 32px;line-height: 33px;text-align: right;font-weight: 700;letter-spacing: 0.5px;}
    .total_savings_box img.mobile_img { display: block; position: absolute; top: 20px; right: 0; }
    .total_savings_box p,
    .total_savings_box span{display: none;}
    .total_savings_box .btn { border-radius:20px; padding: 5px 30px; max-width: calc(100% - 125px); margin-left: 0; margin-right: auto; }
    .mortgage_cycle_page .savings_list { max-width: 100%; margin: 33px auto 0; }
    .barchart_sec { max-width: 100%;}
}

@media (max-width:374px) {
    .bank_mortgage_sec { padding: 28px 15px 9px; max-width: calc(100% - 30px); }
    .mortgage_cycle_page .left_col { max-width: calc(100% - 30px); }
    .total_savings_box .btn { padding: 5px 20px; font-size: 16px; }
    .total_savings_box .box h2 { font-size: 30px; }
    .mortgage_cycle_page .savings_list ul li { padding: 18px 6px 21px; }
    .prev_page_link { top: 30px; }


}