.schedule_meetings_page{padding: 85px 20px 100px;}
.schedule_meetings_page h1{font-size: 65px; line-height: 40px; text-align: center;margin-bottom: 51px;}
.schedule_meetings_page .manImage{position: absolute;left:40px;bottom: 0;pointer-events: none;}
.schedule_meetings_popup{width: 730px;height:fit-content;border-radius: 20px;background-color: #24242475;backdrop-filter: blur(5px);display: block;margin: 0 auto;position: relative;padding: 20px 36.5px 81px;text-align: center;}
.schedule_meetings_popup .close{position: absolute;left: 28px;top: 16px;cursor: pointer;}
.schedule_meetings_popup>img{margin: 0 auto ;margin-bottom:34px;}
.schedule_meetings_popup h2{color: var(--white);font-size: 20px;line-height: 24px;}
.schedule_meetings_popup p{color: var(--white);font-size: 20px;line-height: 24px;margin-bottom: 26px;}
.schedule_meetings_popup p a{color:#FFAF58;font-size: 20px;line-height: 24px;display:inline-flex;margin: 0 5px;}
.schedule_meetings_popup .inner{margin-bottom: 11px;}
.schedule_meetings_popup .inner p{margin-bottom:22px;}
.schedule_meetings_popup label{border: 1px solid var(--white);border-radius: 5px;color: var(--white);padding:8.5px 10px;line-height: 24px;font-size: 16px;font-weight: 400;margin:0 7.5px 11px;position: relative;cursor: pointer;transition: 0.4s ease all;min-width: 94px;text-align: center;}
.schedule_meetings_popup label input{position: absolute;top: 0;opacity: 0;}
.schedule_meetings_popup label:has( input:checked){background-color: #E27600;border-color: #E27600;font-weight: 700;}
.schedule_meetings_popup h4{color: var(--white);font-size: 16px;line-height: 24px;margin-top: 11px;font-weight: 400;}
.schedule_meetings_popup .btn{position: absolute; left: 0; right: 0; margin: 0 auto; bottom: -28px; width: fit-content; font-size: 20px; padding: 18.5px 65px;}

/* responsive */
@media (max-width:1850px) {
    .schedule_meetings_page .manImage { max-width: 450px;left: 0; }
}
@media (max-width:1399px) {
    .schedule_meetings_page { padding: 40px 20px 100px; }
    .schedule_meetings_page h1{ font-size: 50px; line-height: 40px; }
    .schedule_meetings_page .manImage { max-width: 350px; left: 0; }
}
@media (max-width:1279px) {
    .schedule_meetings_page h1 { font-size: 40px;margin-bottom: 30px;}
    .schedule_meetings_page .manImage { max-width: 230px; left: 0px; }
}
@media (max-width:767px) {
    .schedule_meetings_page { padding: 20px 20px 160px; }
    .schedule_meetings_page h1 { font-size: 22px; margin-bottom: 10px; font-weight: 300; }
    .schedule_meetings_popup { width: 100%; height: auto; padding:57px 20px 95px; }
    /* .schedule_meetings_popup label{margin: 0 0 20px;margin-left:14px;}
    .schedule_meetings_popup label:nth-child(3n){margin-left: 0;} */
}
@media (max-width:374px) {
    .schedule_meetings_page { padding: 20px 10px 160px;}
    .schedule_meetings_popup label { padding: 8px 9px; font-size: 16px; margin: 0 5px 10px; min-width: 90px; }
}
@supports (-webkit-touch-callout: none) and (max-width: 767px) {
    .schedule_meetings_page { padding: 20px 10px 250px;}
    

}