.no_offer_found_page{position: relative;padding: 85px 20px 120px;}
.no_offer_found_page h1{font-size: 65px; line-height: 40px;text-align: center;margin-bottom: 39px;}
.no_offer_found_page h2{ font-size: 22px; line-height: 24px;text-align: center;}
.no_offer_found_page .check_nav{margin-top: 39px;}
.no_offer_found_page .check_nav .number { margin-right: 0;margin-left: 21px; }
.no_offer_found_page .check_nav .title::after { right: auto; left: 100%; }
.no_offer_found_page .wrapper{max-width: 1326px;margin-top: 48px;    align-items: normal;}
.no_offer_found_page .right_col{width:535px;position: relative;}
.no_offer_found_page .right_col::after{content:'';position: absolute;top: -25px;right: 0;width:197%;height: calc(100% + 50px);background-color: #CEDFCE;box-shadow:20px 0 30px #0000001A;}
.no_offer_found_page .left_col{width:791px;position: relative;z-index: 2;}
.no_offer_found_page .routes_mortgage_sec { margin-top: 0; }

.no_offer_found_page .mirror_col{padding:65px 73px 100px 38px;position: relative;z-index: 1;}
.no_offer_found_page .mirror_col h2{text-align: right;margin-top: 35px;font-size: 22px;line-height: 24px;}
.no_offer_found_page .mirror_col p{font-size: 16px;line-height: 24px;font-weight: 500;color: var(--green);}


@media (max-width:1850px) {
    .no_offer_found_page h1 { font-size: 50px; }
    .no_offer_found_page .right_col { width: calc(100% - 791px); }
    .no_offer_found_page .mirror_col { padding: 65px 30px 100px 20px; }
    
}
@media (max-width:1279px) {
    .no_offer_found_page .left_col { width: 100%; }
    .no_offer_found_page .right_col { width: 100%; text-align: center; }
    .no_offer_found_page .mirror_col img{display: block;margin: 0 auto;}
    .no_offer_found_page .mirror_col h2 { text-align: center;margin-bottom: 10px;}
    .no_offer_found_page .mirror_col { padding: 0 0 50px; }
    .no_offer_found_page .right_col::after{display: none;}
    .no_offer_found_page { padding: 50px 20px 120px; }

}
@media (max-width:767px) {
    .no_offer_found_page { padding: 40px 0 203px; }
    .no_offer_found_page h1 { font-size: 22px; margin-bottom: 10px; line-height: 24px; font-weight: 400; }
    .no_offer_found_page h2 { font-size: 18px; line-height: 24px; text-align: center; font-weight: 400; padding: 0 20px; }
    .no_offer_found_page .check_nav { margin-top: 20px; }
    .no_offer_found_page .wrapper { margin-top: 20px; }
    .no_offer_found_page .mirror_col h2 { text-align: center; margin-bottom: 10px; margin-top:15px; font-weight: 700; }
    .no_offer_found_page .mirror_col { padding: 0 0 0px; }
    .no_offer_found_page .left_col{margin-top: 109.5px;}
    .no_offer_found_page .routes_mortgage_sec h2 { font-size: 20px; font-weight: 700; position: absolute; top: -71px; left: 0; right: 0; }
}
@media (max-width:413px) {
    .no_offer_found_page .mirror_col h2 { word-wrap: break-word; }
    .no_offer_found_page .mirror_col h2 br{display: none;}
    .no_offer_found_page .mirror_col p{padding: 0 16px;}


}