.homepage{padding:125px 116px 20px 91px;position: relative;z-index: 1;}
.homepage .left_col{width: 873px;}
.homepage .left_col img{margin-top: -80px;}
.homepage .right_col{width: 840px;}
.homepage h1{font-size: 65px;line-height:70px;}
.homepage h1 span{color:var(--orange);}
.homepage p{font-size:28px;line-height: 40px;color: var(--green);font-weight: 400;    max-width: 630px;}
.homepage label{display: block;font-size:22px;line-height: 24px;color: var(--green);font-weight:300;margin: 50px 0 30px;}
.homepage h3{font-size:22px;line-height: 24px;color: var(--green);font-weight:700;}
.homepage ul{margin-top: 53px;}
.homepage ul li{margin-left: 14px;width: 226px;background-image: url(../../assets/images/option_bg.png);background-repeat: no-repeat;background-size: 100% 100%;}
.homepage ul li+li{margin-left: 0;}
.homepage ul li a{text-align: center;font-size: 20px;line-height: 20px;color: var(--black);width: 100%;height: 197px;    display: flex ; flex-direction: column; justify-content: flex-end;padding-bottom: 30px;position: relative;}
.homepage ul li a::after{content:'';position: absolute;bottom: 0;left: 0;right: 0;margin: 0 auto;width:calc(100% - 40px);height: 6px;bottom: -2px;border-radius: 10px;background-color: var(--orange);}
.homepage ul li a img{margin: 0 auto 29px;display: block;    }
.homepage ul li a span{display: block;}

/* responsive */
@media (max-width:1850px) {
    .homepage { padding: 60px 80px 190px; }
    .homepage .right_col { width: 55%; }
    .homepage .left_col { width: 45%; }
    .homepage .left_col img { margin-top: -40px;}
    .homepage h1 { font-size: 55px; line-height: 60px; }
    .homepage p { font-size: 24px; line-height: 32px; max-width: 500px; }
    .homepage label { font-size: 20px; line-height: 24px; margin: 20px 0 20px; }
    .homepage ul { margin-top: 30px; }
}
@media (max-width:1399px) {
    .homepage { padding: 40px 80px 190px; } 
    .homepage ul li a { height: 155px; padding-bottom: 20px; }
    .homepage ul li a img { margin: 0 auto 20px; }
    .homepage .left_col img { margin-top: 0; }
}
@media (max-width:1279px) {
    .homepage { padding: 40px 40px 190px; } 
}
@media (max-width:1023px) {
    .homepage { padding: 70px 40px 190px; text-align: center;display: flex;flex-direction: column-reverse;}
    .homepage .right_col { width: 100%; }
    .homepage p { margin: 20px auto 0; }
    .homepage ul { justify-content: center; } 

    .homepage .desktop_img{display: none;}
    .homepage .mobile_img{display:block;}
    .homepage .left_col { width: 100%; margin: 0 auto; display: flex; justify-content: center; margin-bottom: 40px; }


}   
/* 414 */
@media (max-width:767px) {
    .homepage { padding: 10px 20px 180px; }
    .homepage .left_col { margin-bottom: 17px; }
    .homepage h1 { font-size: 22px; line-height: 24px; }
    .homepage p{display: none;}
    .homepage label { font-size: 22px; line-height: 24px; margin: 20px 0 20px; }
    .homepage h3 { font-size: 18px; }
    .homepage ul { margin-top: 46px; } 
    .homepage ul li { margin-left: 0; width: 100%;background-image: none;}
    .homepage ul li a{border: 1px solid #27450E24;border-radius: 10px;background-color: #EAF5E7;        height: auto; padding: 0;line-height: 47px;background-image: url(../../assets/images/polygon.png);background-repeat: no-repeat;background-position: left 18px center;box-shadow: 0 4px 30px #00000040;}
    .homepage ul li:last-child{margin-top:16px;}
    .homepage ul li a::after { left: auto; right: 11px; margin: auto; width: 5px; height: 80%; bottom: 0; top: 0; }
    .homepage ul li a img{display: none;}
    .homepage ul li a span br{display: none;}


}
/* 360 */
@media (max-width:413px) {





}