.simulator_page{padding-bottom: 141px;}
.simulator_page .wrapper{max-width: 1351px;background-color: #CEDFCE;}
.simulator_page .contents{padding: 35px 84px 33px 54px;}

.mortgage_calculator_sec{background-color: var(--white);box-shadow: 0 4px 30px #00000040;}
.mortgage_calculator_sec h1{font-size: 18px;font-weight: 500;line-height: 24px;width:fit-content;position: relative;padding: 27px 0 26px;}
.mortgage_calculator_sec h1::after{content:'';position: absolute;bottom: 0;right: 0;background-color:var(--orange);height: 6px;width: 100%;}
.mortgage_calculator_sec .had{border-bottom: 1px solid #27450E96;padding:0 135px;}
.mortgage_calculator_sec .wrap_mortgage{padding:31px 135px 63px;}
.mortgage_calculator_sec .wrap_mortgage .btn{width:194px;margin:55px auto 0 0;text-align: center;display: block;}
.mortgage_calculator_sec h2{font-size: 40px;line-height: 40px;}
.mortgage_calculator_sec h2 span{color: var(--orange);}
.mortgage_calculator_sec p{font-size:28px;font-weight: 400;color: var(--green);margin-top: 10px;}
.mortgage_calculator_sec h3{font-size:18px;font-weight: 700;}
.mortgage_calculator_sec .inner{margin-top: 35px;}
.mortgage_calculator_sec .inner>div{width: calc(50% - 38px);}

.custom-range-slider { -webkit-appearance: none; appearance: none; background: transparent; }
.custom-range-slider::-webkit-slider-runnable-track { width:80%; height: 11px; cursor: pointer; border-radius: 5px; background: linear-gradient(to left, #2b4c10 var(--track-fill-percentage), #2b4c10 var(--track-fill-percentage)); }
.custom-range-slider::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; height: 11px; width:10px; background:#E27600; border-radius:20px; cursor: pointer; margin-top: 0px; box-shadow: 0 4px 30px #00000040; border: 1px solid #AD6503;}
/* .custom-range-slider::-moz-range-track { width: 100%; height: 10px; cursor: pointer; border-radius: 5px; background: linear-gradient(to left, #2b4c10 var(--track-fill-percentage), #ccc var(--track-fill-percentage)); border: none; }
.custom-range-slider::-moz-range-thumb { height: 20px; width: 20px; background: linear-gradient(180deg, #ff8c00 0%, #ff5722 100%); border-radius: 50%; cursor: pointer; border: 2px solid #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); } */
.custom-range-slider:focus::-moz-range-thumb,
.custom-range-slider:focus { outline: none; }

.range_box {position: relative;margin-top: 74px;}
.range_box .tooltip{position: absolute;top: 0;width: 96px;background-color: #27450E;line-height: 20px;color:var(--white);font-size: 14px;text-align: center;border-radius: 10px;transform: translateX(50px);min-width: 96px;}
.range_box .tooltip::after{    content: ''; position: absolute; bottom: -2px; left: 0; right: 0; margin: 0 auto; width: 7px; height: 7px; background-color: #2b4c10; transform: rotate(45deg); }
.range_box .minmax_text{}
.range_box .minmax_text {display: flex; width: 100%; justify-content: space-between; align-items: center;position: absolute;top: 0;right: 0;width: 100%;pointer-events: none;}
.range_box .minmax_text span{width: 100px;text-align: center;color: #1E1E1E;font-size: 14px;font-weight: 400;pointer-events: all;}
.range_box .range_wrap{width:calc(100% - 270px);position: relative;margin: 0 auto;right: -30px;    z-index: 0;}
.range_box .range_wrap::after{    content: ''; width: calc(100% + 60px); height: 11px; background-color: #27450E; border-radius: 20px; right: -9px; top: 6px; position: absolute; z-index: -1; }
.range_box .range_wrap input{width: 100%;opacity: 0;}
.range_box .arrow {position: absolute; top: calc(100% + 14px); left: 0; right: 52px; width: fit-content; margin: 0 auto;pointer-events: none;}
.range_box .arrow:after { content: ''; position: absolute; top: -10px; width: 14px; height: 74px; background-color: #e27601; right: -11px; border-radius: 20px;    border: 1px solid #00000040;}

/* uniform basket sec */
.uniform_basket_sec{}
.uniform_basket_sec .tab{margin-bottom: 42px;}
.uniform_basket_sec .tab li{background-color: var(--white);border: 1px solid #C9C9C9;border-radius: 40px;line-height: 36px;padding:0 19.5px 0 27.5px;margin-left:20px;cursor: pointer;color: var(--green);font-size: 14px;font-weight: 500;transition: 0.4s ease all;}
.uniform_basket_sec .tab li.active,
.uniform_basket_sec .tab li:hover{background-color:var(--orange);color: var(--white);}
.uniform_basket_sec .tab li:last-child{margin-left: 0;}
.uniform_basket_sec .tab_wrap{}
.uniform_basket_sec .tab_wrap ul{}
.uniform_basket_sec .tab_wrap ul li{width:31.74%;background-color: var(--white);padding: 12.31px 14px 12.31px 18px;display: flex;align-items: center;justify-content: space-between;color: #1E1E1E;font-size: 20.46px;font-weight: 400;border-radius: 6px;margin-left: 2.391%;}

/* .uniform_basket_sec .tab_wrap ul li:last-child span+span{direction: ltr !important;} */
.uniform_basket_sec .tab_wrap ul li:nth-child(3n){margin-left: 0;}
.uniform_basket_sec .tab_wrap ul li:nth-child(n + 4){margin-top: 12px;}

.simulator_data_box{margin-top: 33.5px;}
.simulator_data_box .chart_sec{max-width: 100%;width: 386px;margin-right: 0;}
.simulator_data_box .chart_sec .chart_legend>div.interest span{background-color: #E27600;}
.simulator_data_box .chart_sec .chart-container { height: 208px; }

/* routes_mortgage_sec */
.simulator_data_box .routes_mortgage_sec{margin-top: -17px; background-color: transparent; box-shadow: none; width: calc(100% - 416px); padding: 0;}
.simulator_data_box .routes_mortgage_sec .routes_explanation { border-radius: 15px; background-color: var(--white); box-shadow: 0 4px 48px #E2760029; padding: 37.5px 30px; position: relative;}
.simulator_data_box .routes_explanation .list_routes ul li { padding: 16px 0; }

/*  */
.simulator_page .approval_btn{margin: 136px auto 0; display: block; margin-left: 0;border:none;}
.simulator_page .img1{position: absolute; bottom: -85px; right: -270px;}
.simulator_page .prev_page_link{display: none;}
.custom-range { touch-action: pan-x; }
.chart-container{ touch-action: pan-x;}
.chart-container svg { touch-action: pan-x; }
.mortgage_calculator_sec .inner * { pointer-events: none; }
.range_box .tooltip, .range_box .tooltip * { pointer-events: all;touch-action: pan-x; }
.range_box .range_wrap input { pointer-events: all;touch-action: pan-x;    width: 120%;}


/* responsive */
@media (max-width:1850px) {
    .simulator_page .img1 { bottom: -55px; right: -120px; max-width: 400px; }
}
@media (max-width:1599px) {
    .simulator_page .img1 { bottom: -55px; right: -30px; max-width: 400px; }
}
@media (max-width:1399px) {
    .simulator_page .wrapper { max-width: 1240px; }
    .simulator_page .contents { padding: 35px 40px 33px 40px; }
    .uniform_basket_sec .tab_wrap ul li { font-size: 18px; }
}
@media (max-width:1279px) {
    .mortgage_calculator_sec .had { padding: 0 20px; }
    .mortgage_calculator_sec .wrap_mortgage { padding: 30px 20px 60px; }
    .simulator_page .contents { padding: 35px 20px 33px; }
    .uniform_basket_sec .tab_wrap ul li { font-size: 16px; }
}
@media (max-width:1023px) {
    .mortgage_calculator_sec .inner>div { width: 50%; }
    .uniform_basket_sec .tab_wrap ul li:nth-child(n + 3) { margin-top: 12px; }
    .uniform_basket_sec .tab_wrap ul li{width: 49%;margin-left: 2%;}
    .uniform_basket_sec .tab_wrap ul li:nth-child(3n) { margin-left: 2%;}
    .uniform_basket_sec .tab_wrap ul li:nth-child(2n) { margin-left: 0;}
    .simulator_data_box .chart_sec { width: 100%; margin-bottom: 30px; }
    .simulator_data_box .routes_mortgage_sec { margin-top: 0; width: 100%; }
}
@media (max-width:767px) {
    .mortgage_calculator_sec { background-color: transparent; box-shadow: none; }
    .simulator_page .wrapper{background-color: transparent;}
    .simulator_page .prev_page_link{display: block;}
    .mortgage_calculator_sec h1 { font-weight: 400; padding: 20px 0 12px; }
    .mortgage_calculator_sec h1::after { bottom: -7px;}
    .mortgage_calculator_sec .wrap_mortgage { padding: 80px 20px 30px; }
    .mortgage_calculator_sec .wrap_mortgage h2,
    .mortgage_calculator_sec .wrap_mortgage p{display: none;}
    .mortgage_calculator_sec .inner { margin-top: 0; }
    .mortgage_calculator_sec .inner>div { width: 100%; }
    .mortgage_calculator_sec h3 { text-align: center; }
    .range_box { margin-top: 64px; }
    .range_box .minmax_text { position: relative; }
    .mortgage_calculator_sec .refund_period{margin-top: 50px;}
    .range_box .range_wrap { width: calc(100% - 90px); right: -10px; }
    .mortgage_calculator_sec .wrap_mortgage .btn { width: 180px; margin: 50px auto 0; font-size: 16px; padding: 14px 25px; font-weight: 500; }
    .simulator_page .contents { padding: 0; }
    .uniform_basket_sec{display: flex;flex-direction: column-reverse;}
    .uniform_basket_sec .tab_wrap{padding: 0 20px;}
    .uniform_basket_sec .tab_wrap ul li { width: 100%; margin-left: 0 !important;background-color: #D1EBCA;font-size: 20px;}
    .uniform_basket_sec .tab_wrap ul li+li{margin-top: 6px !important;}
    .uniform_basket_sec .tab{margin-top: 55px;}
    .simulator_data_box { margin-top:0; flex-direction: column-reverse; }
    .simulator_data_box .routes_mobile{display: none;}
    .simulator_data_box .routes_mortgage_sec .routes_explanation { border-radius: 0; background-color: transparent; box-shadow: none; padding: 0; position: relative; }
    .simulator_data_box .chart_sec { width: calc(100% - 28px); margin-bottom: 0; flex-direction: column-reverse; display: flex; margin: 80px auto 0; }
    .simulator_data_box .chart_sec .chart-container { height:262px; }
    .simulator_data_box .chart_sec .chart_legend{margin: 12px 20px 0 0;}
    .simulator_page .approval_btn { display: block; border: none; width: calc(100% - 30px); margin: 27px auto 0; font-size: 16px; padding: 15px 20px; font-weight: 500; }
    .range_box .tooltip::after { bottom: -5px; width: 10px; height: 10px; background-color:transparent; border-bottom: 5px solid #2b4c10; border-right: 5px solid #2b4c10; }
    .simulator_page { padding-bottom: 180px; }
    .range_box .minmax_text{z-index: -1;}
    .range_box .minmax_text span.text-left { text-align: right; position: relative; right: 30px; }
    .range_box .minmax_text span.text-right{text-align: left;}
    .uniform_basket_sec .tab { padding: 0 20px 0 0;margin-bottom: 10px;}
    .uniform_basket_sec .tab li{margin-left: 9px; background-color: transparent; }

    
}
@supports (-webkit-touch-callout: none) and (max-width: 767px) {
    .simulator_page { padding-bottom: 250px; }
}
