.treatment_status_page{padding: 58px 0 43px;position: relative;z-index: 2;}
.treatment_status_page h3{font-weight: 300;text-align: center;font-size: 40px;line-height: 41px;}
.treatment_status_page .status_box{    display: flex ; flex-direction: column; justify-content: center; align-items: center;margin-top: 45px;}
.treatment_status_page .status_box .percentage{font-weight: 700;text-align: center;font-size: 40px;line-height: 41px;color: var(--green);}
.treatment_status_page .status_box .progress{width: 445px;margin: 0 auto;position: relative;height:42px;background-color: #27450E21;box-shadow: 0 4px 4px inset #00000040;border-radius: 50px;margin-top: 7px;padding: 16px;}
.treatment_status_page .status_box .progress::after{content:'';position: absolute;top: 0;bottom: 0;right: 0;width:calc(100% - 20px);height:23px;left: 0;margin: auto;background-color: #FFFFFF;border-radius: 20px;}
.treatment_status_page .status_box .progress .progress_line{position: absolute;top: 0;bottom: 0;right: 0;width:calc(100% - 32px);height:12px;left: 0;margin: auto;z-index: 2;}
.treatment_status_page .status_box .progress span{position: absolute;top: 0;bottom: 0;right: 0;width: 100%;height: 100%;background-color:var(--orange);display: block;border-radius: 50px;}
.treatment_status_page .step_box{max-width: 1288px;margin: 0 auto;position: relative;margin-top: 40px;padding-top: 28px;}
.treatment_status_page .step_box::after{content:'';position: absolute;top: 0;right: 0;width:100%;height:64px;left: 0;margin: auto;background-color:var(--orange);border-radius: 30px;}
.treatment_status_page .step_box ul{position: relative;z-index: 1;}
.treatment_status_page .step_box ul li{display: flex ; flex-direction: column; justify-content: center; align-items: center;position: relative;padding-left: 52px;}
.treatment_status_page .step_box ul li:not(:last-child):after,
.treatment_status_page .step_box ul li:not(:last-child)::before{content:'';position: absolute;top: 19px; right: 50%;width:100%;height:17px;margin: auto;background-color:var(--white);}
.treatment_status_page .step_box ul li:not(:last-child)::before{background-color: #00B87A;z-index: 1;width: 0;}
.treatment_status_page .step_box ul li.open::before{width:90%;}


.treatment_status_page .step_box ul li:last-child{padding-left: 0;}
.treatment_status_page .step_box ul li .number{width: 56px;height: 56px;border-radius: 50%;background-color: var(--white);color:#27450E;font-size: 18.59px;font-weight: 900;display: flex;align-items: center;justify-content: center;box-shadow: 0 5px 39px #00B87A5C;border: 1.33px solid var(--white);position: relative;z-index: 2;}
.treatment_status_page .step_box ul li .note{font-size:29px;line-height: 32px;color: var(--green);font-weight: 300;display: flex;align-items: center;margin-top: 24px;position: relative;z-index: 2;}
.treatment_status_page .step_box ul li .note img{margin-left: 19px;}
.treatment_status_page .step_box ul li .yes{margin-top: 44px;position: relative;z-index: 2;opacity: 0;}
.treatment_status_page .step_box ul li.open .yes{opacity: 1;}
.treatment_status_page .step_box ul li.open .number{background-color: #4FBB88;color: var(--white);border-color: #71D8B5;}
.treatment_status_page .img{ margin: -100px auto 0; margin-left: 5%; display: block; width: fit-content;}

/* responsive */
@media (max-width:1399px) {
    .treatment_status_page { padding: 40px 0 40px; }
    .treatment_status_page .step_box { max-width: 1200px; }
    .treatment_status_page h3 { font-size: 30px; line-height: 30px; }
    .treatment_status_page .status_box { margin-top: 30px; }
    .treatment_status_page .status_box .percentage { font-size: 30px; line-height: 30px; }
    .treatment_status_page .step_box { margin-top: 20px; }
    .treatment_status_page .step_box ul li .note { font-size: 22px; line-height: 30px; margin-top: 20px;}
    .treatment_status_page .step_box ul li .note img { margin-left: 13px; max-width: 24px; }
    .treatment_status_page .img { max-width: 410px; }
}
@media (max-width:1279px) {
    .treatment_status_page .step_box { max-width: calc(100% - 40px);}
    
    
}
@media (max-width:1023px) {
    .treatment_status_page .step_box ul li { padding-left: 10px; }
    
}
@media (max-width:767px) {
    .treatment_status_page { padding: 40px 0 120px; }
    .treatment_status_page h3 { font-size: 22px; line-height: 24px; max-width: 229px; margin: 0 auto;}
    .treatment_status_page .status_box { margin-top: 20px; }
    .treatment_status_page .status_box .percentage { font-size: 22px; line-height: 24px; margin-bottom:10px; font-weight: 400; }
    .treatment_status_page .status_box .progress { width: 329px; height: 42px;}
    .treatment_status_page .step_box { max-width: 100%; margin-top: 47px;padding: 26px 0 86px;}
    .treatment_status_page .step_box ul{max-width: calc(100% - 70px);margin: 0 auto;}
    .treatment_status_page .step_box ul li { width: 100%; padding: 0; flex-direction: row; justify-content: flex-start; align-items: center;margin-bottom:45px;}
    .treatment_status_page .step_box ul li:last-child{margin-bottom: 0;}
    .treatment_status_page .step_box ul li .note { font-size: 22px; line-height: 30px; margin-top: 0; margin-right: 7px; }
    .treatment_status_page .step_box ul li .yes { margin-top: 0; }
    .treatment_status_page .img { margin: 0; margin-left: 0; display: block; width: fit-content; }
    .treatment_status_page .step_box::after { right: 0; width: 60px; height: 100%; left: auto; margin: auto; border-radius: 30px 0 0 30px; }
    .treatment_status_page .step_box ul li:not(:last-child):after, .treatment_status_page .step_box ul li:not(:last-child)::before { top: 98% !important; right: 15px !important; width: 13px !important; height: 120%; }
    .treatment_status_page .step_box ul li::before {height: 0%;opacity: 0;}
    .treatment_status_page .step_box ul li.open::before {height: 115%;opacity: 1;}
    .treatment_status_page .step_box ul li .yes { position: absolute; left: 30px; top: 0; } 
    .treatment_status_page .step_box ul li .number { width: 42px; height: 42px; font-size: 14px; }
    .treatment_status_page .img { margin: 0; margin-left: 0; display: block; width: fit-content; position: absolute; left: 0; bottom: 130px; }
}
@media (max-width:413px) {
    .treatment_status_page .status_box .progress { width: 300px;}
    .treatment_status_page .step_box ul { max-width: calc(100% - 30px); }
    .treatment_status_page .step_box::after { width: 36px; border-radius: 25px 0 0 25px; }
    .treatment_status_page .img { bottom: 200px; max-width: 160px; }
    .treatment_status_page .step_box ul li .yes { left: 20px; top: 0; max-width: 40px; bottom: 0; margin: auto; }




}