.element {
    background-color: #f8f8f8;
    min-height: 2069px;
    min-width: 414px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.element .group {
    height: 2015px;
    left: -44px;
    position: absolute;
    top: -16px;
    width: 502px;
}

.element .rectangle {
    height: 808px;
    left: 44px;
    position: absolute;
    top: 16px;
    width: 414px;
}

.element .img {
    height: 1899px;
    left: 44px;
    position: absolute;
    top: 116px;
    width: 414px;
}

.element .driveway-of-a {
    aspect-ratio: 0.97;
    background-blend-mode: luminosity;
    height: 391px;
    left: 56px;
    position: absolute;
    top: 16px;
    width: 390px;
}

.element .div {
    background: linear-gradient(
        180deg,
        rgba(193, 233, 185, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    height: 578px;
    left: -7px;
    position: absolute;
    top: 0;
    width: 421px;
}

.element .rectangle-2 {
    background: linear-gradient(
        180deg,
        rgba(193, 233, 185, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    height: 578px;
    left: -7px;
    position: absolute;
    top: 131px;
    width: 421px;
}

.element .rectangle-3 {
    background: linear-gradient(
        180deg,
        rgba(226, 241, 223, 1) 17%,
        rgba(255, 255, 255, 0.3) 100%
    );
    height: 745px;
    left: 0;
    position: absolute;
    top: -72px;
    transform: rotate(-180.00deg);
    width: 421px;
}

.element .rectangle-4 {
    background-color: #e27600;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 414px;
}

.element .group-2 {
    height: 50px;
    left: 24.88%;
    position: absolute;
    top: 36px;
    width: 40.52%;
}

.element .vector {
    height: 29px;
    left: 79.71%;
    position: absolute;
    top: 51px;
    width: 11.35%;
}

.element .text-wrapper {
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Light", Helvetica;
    font-size: 22px;
    font-weight: 300;
    left: 67px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 108px;
    width: 273px;
}

.element .vector-stroke {
    height: 24px;
    left: 6.52%;
    position: absolute;
    top: 49px;
    width: 5.80%;
}

.element .group-3 {
    height: 42px;
    left: 111px;
    position: absolute;
    top: 154px;
    width: 195px;
}

.element .rectangle-5 {
    background-color: #27450e;
    border-radius: 100px;
    height: 7px;
    left: 7px;
    position: absolute;
    top: 18px;
    width: 182px;
}

.element .rectangle-6 {
    background-color: #27450e;
    border-radius: 100px;
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 125px;
}

.element .ellipse {
    background-color: #ffffff;
    border-radius: 21px;
    box-shadow: 0px 4px 30px #00000040;
    height: 42px;
    left: 149px;
    position: absolute;
    top: 0;
    width: 42px;
}

.element .text-wrapper-2 {
    color: #ffffff;
    direction: rtl;
    font-family: "Lato-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0.50px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
}

.element .text-wrapper-3 {
    color: #27450e;
    font-family: "Lato-Black", Helvetica;
    font-size: 14px;
    font-weight: 900;
    left: 165px;
    letter-spacing: 0.50px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
}

.element .p {
    align-items: center;
    color: #27450e;
    direction: rtl;
    display: flex;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 127px;
    justify-content: center;
    left: 52px;
    letter-spacing: 0;
    line-height: 18px;
    position: absolute;
    top: 183px;
    width: 197px;
}

.element .span {
    font-weight: 700;
}

.element .text-wrapper-4 {
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-weight: 500;
}

.element .group-4 {
    height: 60px;
    left: 63.04%;
    position: absolute;
    top: 216px;
    width: 14.83%;
}

.element .rectangle-7 {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(225, 240, 223, 1) 100%
    );
    border: 2px solid;
    border-color: #4e8ff7;
    border-radius: 15px;
    box-shadow: 0px 4px 60px #27450e0d;
    height: 236px;
    left: 31px;
    position: absolute;
    top: 309px;
    width: 356px;
}

.element .text-wrapper-5 {
    color: #27450e;
    font-family: var(--18-font-family);
    font-size: var(--18-font-size);
    font-style: var(--18-font-style);
    font-weight: var(--18-font-weight);
    left: 44px;
    letter-spacing: var(--18-letter-spacing);
    line-height: var(--18-line-height);
    position: absolute;
    text-align: right;
    top: 386px;
    width: 111px;
}

.element .text-wrapper-6 {
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 219px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 365px;
    white-space: nowrap;
}

.element .text-wrapper-7 {
    color: #27450e;
    font-family: var(--18-font-family);
    font-size: var(--18-font-size);
    font-style: var(--18-font-style);
    font-weight: var(--18-font-weight);
    left: 252px;
    letter-spacing: var(--18-letter-spacing);
    line-height: var(--18-line-height);
    position: absolute;
    text-align: right;
    top: 388px;
    width: 111px;
}

.element .text-wrapper-8 {
    color: #27450e;
    direction: rtl;
    font-family: var(--14-b-font-family);
    font-size: var(--14-b-font-size);
    font-style: var(--14-b-font-style);
    font-weight: var(--14-b-font-weight);
    left: 291px;
    letter-spacing: var(--14-b-letter-spacing);
    line-height: var(--14-b-line-height);
    position: absolute;
    top: 491px;
    white-space: nowrap;
}

.element .text-wrapper-9 {
    color: #27450e;
    font-family: var(--18-font-family);
    font-size: var(--18-font-size);
    font-style: var(--18-font-style);
    font-weight: var(--18-font-weight);
    left: 243px;
    letter-spacing: var(--18-letter-spacing);
    line-height: var(--18-line-height);
    position: absolute;
    text-align: right;
    top: 512px;
    width: 121px;
}

.element .text-wrapper-10 {
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 180px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 428px;
    width: 185px;
}

.element .text-wrapper-11 {
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: 87px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 428px;
    width: 185px;
}

.element .text-wrapper-12 {
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 22px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 487px;
    width: 185px;
}

.element .text-wrapper-13 {
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 10px;
    font-weight: 700;
    left: -29px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 429px;
    width: 185px;
}

.element .text-wrapper-14 {
    color: #27450e;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 288px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 447px;
    width: 91px;
}

.element .text-wrapper-15 {
    color: #27450e;
    font-family: var(--18-font-family);
    font-size: var(--18-font-size);
    font-style: var(--18-font-style);
    font-weight: var(--18-font-weight);
    left: 197px;
    letter-spacing: var(--18-letter-spacing);
    line-height: var(--18-line-height);
    position: absolute;
    text-align: center;
    top: 447px;
    width: 91px;
}

.element .text-wrapper-16 {
    color: #27450e;
    font-family: var(--18-font-family);
    font-size: var(--18-font-size);
    font-style: var(--18-font-style);
    font-weight: var(--18-font-weight);
    left: 49px;
    letter-spacing: var(--18-letter-spacing);
    line-height: var(--18-line-height);
    position: absolute;
    text-align: center;
    top: 448px;
    width: 121px;
}

.element .text-wrapper-17 {
    color: #27450e;
    font-family: var(--18-font-family);
    font-size: var(--18-font-size);
    font-style: var(--18-font-style);
    font-weight: var(--18-font-weight);
    left: 100px;
    letter-spacing: var(--18-letter-spacing);
    line-height: var(--18-line-height);
    position: absolute;
    text-align: center;
    top: 512px;
    width: 121px;
}

.element .line {
    height: 1px;
    left: 56px;
    position: absolute;
    top: 420px;
    width: 304px;
}

.element .line-2 {
    height: 1px;
    left: 56px;
    position: absolute;
    top: 484px;
    width: 304px;
}

.element .line-3 {
    height: 48px;
    left: 172px;
    object-fit: cover;
    position: absolute;
    top: 428px;
    width: 1px;
}

.element .line-4 {
    height: 48px;
    left: 286px;
    object-fit: cover;
    position: absolute;
    top: 428px;
    width: 1px;
}

.element .line-5 {
    height: 48px;
    left: 286px;
    object-fit: cover;
    position: absolute;
    top: 492px;
    width: 1px;
}

.element .text-wrapper-18 {
    color: #27450e;
    direction: rtl;
    font-family: var(--18-font-family);
    font-size: var(--18-font-size);
    font-style: var(--18-font-style);
    font-weight: var(--18-font-weight);
    left: 191px;
    letter-spacing: var(--18-letter-spacing);
    line-height: var(--18-line-height);
    position: absolute;
    top: 337px;
    width: 170px;
}

.element .image {
    aspect-ratio: 1;
    height: 63px;
    left: 317px;
    position: absolute;
    top: 279px;
    width: 63px;
}

.element .rectangle-8 {
    background-color: #27450e;
    border-radius: 15px;
    bottom: 1052px;
    height: 86px;
    left: 49px;
    position: absolute;
    width: 330px;
}

.element .rectangle-9 {
    background-color: #ffffff;
    border: 1px dashed;
    border-color: #27450e;
    border-radius: 15px;
    bottom: 831px;
    height: 87px;
    left: 46px;
    position: absolute;
    width: 160px;
}

.element .rectangle-10 {
    background-color: #ffffff;
    border: 1px dashed;
    border-color: #27450e;
    border-radius: 15px;
    bottom: 732px;
    height: 87px;
    left: 46px;
    position: absolute;
    width: 160px;
}

.element .rectangle-11 {
    background-color: #ffffff;
    border: 1px dashed;
    border-color: #27450e;
    border-radius: 15px;
    bottom: 831px;
    height: 87px;
    left: 215px;
    position: absolute;
    width: 160px;
}

.element .rectangle-12 {
    background-color: #ffffff;
    border: 1px dashed;
    border-color: #27450e;
    border-radius: 15px;
    bottom: 732px;
    height: 87px;
    left: 215px;
    position: absolute;
    width: 160px;
}

.element .text-wrapper-19 {
    bottom: 1099px;
    color: #ffffff;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: -69px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 320px;
}

.element .text-wrapper-20 {
    bottom: 1062px;
    color: #ffffff;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    width: 216px;
}

.element .div-2 {
    bottom: 852px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 247px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
}

.element .text-wrapper-21 {
    color: #27450e;
    font-family: var(--18-font-family);
    font-size: var(--18-font-size);
    font-style: var(--18-font-style);
    font-weight: var(--18-font-weight);
    letter-spacing: var(--18-letter-spacing);
    line-height: var(--18-line-height);
}

.element .text-wrapper-22 {
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-weight: 700;
}

.element .div-3 {
    bottom: 851px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 71px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
}

.element .div-4 {
    bottom: 753px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 233px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
}

.element .div-5 {
    bottom: 753px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 86px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
}

.element .section {
    bottom: 162px;
    height: 554px;
    left: 0;
    position: absolute;
    width: 372px;
}

.element .rectangle-13 {
    background-color: #ffffff;
    border-radius: 12px;
    bottom: 224px;
    box-shadow: 0px 2px 48px #0000000a;
    height: 330px;
    left: 49px;
    position: absolute;
    width: 323px;
}

.element .rectangle-14 {
    background-color: #ffffff;
    border-radius: 12px;
    bottom: 0;
    box-shadow: 0px 2px 48px #0000000a;
    height: 204px;
    left: 49px;
    position: absolute;
    width: 323px;
}

.element .chart {
    bottom: 130px;
    height: 370px;
    left: 0;
    position: absolute;
    width: 358px;
}

.element .line-6 {
    bottom: 136px;
    height: 233px;
    left: 80px;
    position: absolute;
    width: 1px;
}

.element .line-7 {
    bottom: 136px;
    height: 233px;
    left: 126px;
    position: absolute;
    width: 1px;
}

.element .line-8 {
    bottom: 136px;
    height: 233px;
    left: 174px;
    position: absolute;
    width: 1px;
}

.element .line-9 {
    bottom: 136px;
    height: 233px;
    left: 220px;
    position: absolute;
    width: 1px;
}

.element .line-10 {
    bottom: 136px;
    height: 233px;
    left: 260px;
    position: absolute;
    width: 1px;
}

.element .line-11 {
    bottom: 136px;
    height: 233px;
    left: 302px;
    position: absolute;
    width: 1px;
}

.element .line-12 {
    bottom: 136px;
    height: 233px;
    left: 344px;
    position: absolute;
    width: 1px;
}

.element .path {
    bottom: 202px;
    height: 72px;
    left: 80px;
    position: absolute;
    width: 265px;
}

.element .path-2 {
    bottom: 195px;
    height: 45px;
    left: 80px;
    position: absolute;
    width: 265px;
}

.element .oval {
    background-color: #ffffff;
    border: 4px solid;
    border-color: #27450e;
    border-radius: 8px;
    bottom: 278px;
    height: 16px;
    left: 212px;
    position: absolute;
    width: 16px;
}

.element .item {
    align-items: center;
    background-image: url(./combined-shape.svg);
    background-size: 100% 100%;
    bottom: 300px;
    display: flex;
    height: 39px;
    justify-content: center;
    left: 183px;
    position: absolute;
    width: 73px;
}

.element .text-wrapper-23 {
    color: #37393d;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 16px;
    letter-spacing: 1.00px;
    line-height: normal;
    margin-left: 1px;
    margin-top: -8.5px;
    text-align: center;
    width: 64px;
}

.element .combined-shape-wrapper {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 39px;
    left: 95px;
    overflow: hidden;
    position: absolute;
    width: 73px;
}

.element .combined-shape {
    height: 1px;
    margin-bottom: -872.47px;
    margin-left: 1592px;
    width: 1px;
}

.element .text-wrapper-24 {
    bottom: 386px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 33px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    width: 306px;
}

.element .ellipse-2 {
    background-color: #ff0004;
    border-radius: 7px;
    bottom: 398px;
    height: 14px;
    left: 344px;
    position: absolute;
    width: 14px;
}

.element .ellipse-3 {
    background-color: #27450e;
    border-radius: 7px;
    bottom: 398px;
    height: 14px;
    left: 204px;
    position: absolute;
    width: 14px;
}

.element .text-wrapper-25 {
    bottom: 676px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 172px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    width: 176px;
}

.element .text-wrapper-26 {
    bottom: 326px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 172px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    width: 176px;
}

.element .rectangle-15 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 59px;
    left: 348px;
    position: absolute;
    width: 8px;
}

.element .rectangle-16 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 97px;
    left: 244px;
    position: absolute;
    width: 8px;
}

.element .rectangle-17 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 59px;
    left: 296px;
    position: absolute;
    width: 8px;
}

.element .rectangle-18 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 91px;
    left: 192px;
    position: absolute;
    width: 8px;
}

.element .rectangle-19 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 91px;
    left: 140px;
    position: absolute;
    width: 8px;
}

.element .rectangle-20 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 75px;
    left: 322px;
    position: absolute;
    width: 8px;
}

.element .rectangle-21 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 109px;
    left: 218px;
    position: absolute;
    width: 8px;
}

.element .rectangle-22 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 97px;
    left: 270px;
    position: absolute;
    width: 8px;
}

.element .rectangle-23 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 81px;
    left: 166px;
    position: absolute;
    width: 8px;
}

.element .rectangle-24 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 75px;
    left: 114px;
    position: absolute;
    width: 8px;
}

.element .rectangle-25 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 60px;
    left: 75px;
    position: absolute;
    width: 8px;
}

.element .rectangle-26 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 92px;
    left: 335px;
    position: absolute;
    width: 8px;
}

.element .rectangle-27 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 105px;
    left: 231px;
    position: absolute;
    width: 8px;
}

.element .rectangle-28 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 75px;
    left: 283px;
    position: absolute;
    width: 8px;
}

.element .rectangle-29 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 71px;
    left: 179px;
    position: absolute;
    width: 8px;
}

.element .rectangle-30 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 96px;
    left: 127px;
    position: absolute;
    width: 8px;
}

.element .rectangle-31 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 55px;
    left: 88px;
    position: absolute;
    width: 8px;
}

.element .rectangle-32 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 83px;
    left: 309px;
    position: absolute;
    width: 8px;
}

.element .rectangle-33 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 105px;
    left: 205px;
    position: absolute;
    width: 8px;
}

.element .rectangle-34 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 97px;
    left: 257px;
    position: absolute;
    width: 8px;
}

.element .rectangle-35 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 87px;
    left: 153px;
    position: absolute;
    width: 8px;
}

.element .rectangle-36 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 66px;
    left: 101px;
    position: absolute;
    width: 8px;
}

.element .rectangle-37 {
    background: linear-gradient(
        180deg,
        rgba(39, 69, 14, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    bottom: 191px;
    height: 71px;
    left: 62px;
    position: absolute;
    width: 8px;
}

.element .text-wrapper-27 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 67px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 4px;
}

.element .text-wrapper-28 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 78px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 6px;
}

.element .text-wrapper-29 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 6px;
}

.element .text-wrapper-30 {
    bottom: 175px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 104px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 12px;
}

.element .text-wrapper-31 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 117px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 15px;
}

.element .text-wrapper-32 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 130px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 15px;
}

.element .text-wrapper-33 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 142px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 19px;
}

.element .text-wrapper-34 {
    bottom: 179px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 155px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 17px;
}

.element .text-wrapper-35 {
    bottom: 179px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 170px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 19px;
}

.element .text-wrapper-36 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 180px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 22px;
}

.element .text-wrapper-37 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 193px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 24px;
}

.element .text-wrapper-38 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 205px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 26px;
}

.element .text-wrapper-39 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 218px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 28px;
}

.element .text-wrapper-40 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 232px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 29px;
}

.element .text-wrapper-41 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 245px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 31px;
}

.element .text-wrapper-42 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 258px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 35px;
}

.element .text-wrapper-43 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 271px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 40px;
}

.element .text-wrapper-44 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 283px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 43px;
}

.element .text-wrapper-45 {
    bottom: 180px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 296px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 47px;
}

.element .text-wrapper-46 {
    bottom: 172px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 310px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 9px;
}

.element .text-wrapper-47 {
    bottom: 172px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 323px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 9px;
}

.element .text-wrapper-48 {
    bottom: 172px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 334px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 9px;
}

.element .text-wrapper-49 {
    bottom: 172px;
    color: var(--dark-mode-green-bar);
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 6px;
    font-weight: 400;
    left: 348px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
    width: 9px;
}

.element .group-5 {
    bottom: -6px;
    height: 215px;
    left: 0;
    position: absolute;
    width: 422px;
}

.element .subtract {
    bottom: 32px;
    height: 108px;
    left: 0;
    position: absolute;
    width: 414px;
}

.element .ellipse-4 {
    background-color: #e27600;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 39px;
    bottom: 49px;
    box-shadow: 0px 4px 30px #e2760045;
    height: 78px;
    left: 168px;
    position: absolute;
    width: 78px;
}

.element .vector-2 {
    bottom: 42px;
    height: 26px;
    left: 85.07%;
    position: absolute;
    width: 6.16%;
}

.element .vector-3 {
    bottom: 45px;
    height: 25px;
    left: 8.53%;
    position: absolute;
    width: 5.69%;
}

.element .text-wrapper-50 {
    bottom: 15px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 348px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.element .text-wrapper-51 {
    bottom: 15px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 83px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.element .text-wrapper-52 {
    bottom: 15px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 32px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.element .text-wrapper-53 {
    bottom: 15px;
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 286px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.element .vector-4 {
    bottom: 44px;
    height: 26px;
    left: 68.96%;
    position: absolute;
    width: 6.64%;
}

.element .vector-5 {
    bottom: 44px;
    height: 26px;
    left: 23.70%;
    position: absolute;
    width: 5.45%;
}

.element .vector-6 {
    bottom: 74px;
    height: 31px;
    left: 45.26%;
    position: absolute;
    width: 7.82%;
}

.element .rectangle-38 {
    background-color: #e27600;
    bottom: 0;
    height: 13px;
    left: 78px;
    position: absolute;
    width: 73px;
}

.element .frame {
    border-radius: 100px;
    bottom: 154px;
    box-shadow: 0px 4px 30px #e2760052;
    height: 61px;
    left: 261px;
    position: absolute;
    width: 102px;
}

.element .group-6 {
    display: flex;
    flex-direction: column;
    gap: 11px;
    height: 338px;
    left: -29px;
    position: absolute;
    top: 564px;
    width: 497px;
}

.element .group-7 {
    align-self: center;
    height: 24px;
    margin-left: 108px;
    position: relative;
    width: 171px;
}

.element .element-y {
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: calc(50.00% - 86px);
    letter-spacing: 1.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 0;
}

.element .vector-7 {
    height: 24px;
    left: 84.80%;
    position: absolute;
    top: 0;
    width: 14.04%;
}

.element .group-8 {
    height: 303px;
    position: relative;
    width: 523px;
}

.element .rectangle-39 {
    background-color: #ffffff;
    box-shadow: 0px 4px 50px #e2760029;
    height: 270px;
    left: 12px;
    position: absolute;
    top: 33px;
    width: 485px;
}

.element .line-13 {
    height: 1px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 80px;
    width: 413px;
}

.element .line-14 {
    height: 1px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 127px;
    width: 413px;
}

.element .line-15 {
    height: 1px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 171px;
    width: 414px;
}

.element .line-16 {
    height: 1px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 218px;
    width: 413px;
}

.element .line-17 {
    height: 1px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 262px;
    width: 414px;
}

.element .text-wrapper-54 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 49px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
}

.element .text-wrapper-55 {
    color: #1e1e1e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 192px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.element .text-wrapper-56 {
    color: #1e1e1e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 342px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.element .text-wrapper-57 {
    color: #1e1e1e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 94px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.element .text-wrapper-58 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 210px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 44px;
    white-space: nowrap;
}

.element .text-wrapper-59 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 210px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 89px;
    white-space: nowrap;
}

.element .text-wrapper-60 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 210px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 135px;
    white-space: nowrap;
}

.element .text-wrapper-61 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 208px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 183px;
    white-space: nowrap;
}

.element .text-wrapper-62 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 207px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 226px;
    white-space: nowrap;
}

.element .text-wrapper-63 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 49px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 90px;
    white-space: nowrap;
}

.element .text-wrapper-64 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 49px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 134px;
    white-space: nowrap;
}

.element .text-wrapper-65 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 49px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 183px;
    white-space: nowrap;
}

.element .text-wrapper-66 {
    color: #1e1e1e;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 49px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 228px;
    white-space: nowrap;
}

.element .group-9 {
    background-color: #4e8ff7;
    border-radius: 15px;
    box-shadow: 0px 4px 50px #582fff2e;
    height: 216px;
    left: 330px;
    position: absolute;
    top: 41px;
    width: 80px;
}

.element .div-wrapper {
    align-items: center;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 33px;
    justify-content: center;
    left: 16px;
    padding: 3px 13px;
    position: absolute;
    top: 1px;
    width: 47px;
}

.element .text-wrapper-67 {
    color: #ffffff;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
    margin-left: -4.75px;
    margin-right: -4.75px;
    margin-top: -0.50px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.element .frame-2 {
    align-items: center;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 33px;
    justify-content: center;
    left: 16px;
    padding: 3px 13px;
    position: absolute;
    top: 46px;
    width: 47px;
}

.element .frame-3 {
    align-items: center;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 33px;
    justify-content: center;
    left: 16px;
    padding: 3px 13px;
    position: absolute;
    top: 91px;
    width: 47px;
}

.element .text-wrapper-68 {
    color: #ffffff;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
    margin-left: -11.75px;
    margin-right: -11.75px;
    margin-top: -0.50px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.element .group-10 {
    background-color: #4e8ff7;
    border-radius: 15px;
    box-shadow: 0px 4px 50px #582fff2e;
    height: 25px;
    left: 153px;
    position: absolute;
    top: 271px;
    width: 166px;
}

.element .frame-4 {
    align-items: center;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 33px;
    justify-content: center;
    left: 317px;
    padding: 3px 13px;
    position: absolute;
    top: 775px;
    width: 47px;
}

.element .frame-5 {
    align-items: center;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 33px;
    justify-content: center;
    left: 317px;
    padding: 3px 13px;
    position: absolute;
    top: 818px;
    width: 47px;
}

.element .text-wrapper-69 {
    color: #fdfdff;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 127px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 869px;
    white-space: nowrap;
    width: 160px;
}

.element .rectangle-40 {
    background-color: #4e8ff7;
    border-radius: 0px 0px 8px 8px;
    height: 38px;
    left: 66px;
    position: absolute;
    top: 310px;
    width: 136px;
}

.element .text-wrapper-70 {
    color: #ffffff;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 317px;
    width: 170px;
}

.element .group-11 {
    bottom: 943px;
    height: 184px;
    left: 235px;
    position: absolute;
    transform: rotate(180deg);
    width: 144px;
}

.element .ellipse-5 {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 1) 0%,
        rgba(221, 243, 216, 0) 100%
    );
    border-radius: 9px / 3.5px;
    bottom: 173px;
    height: 7px;
    left: 29px;
    position: absolute;
    width: 18px;
}

.element .ellipse-6 {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 1) 0%,
        rgba(221, 243, 216, 0) 100%
    );
    border-radius: 9px / 3.5px;
    bottom: 172px;
    height: 7px;
    left: 48px;
    position: absolute;
    width: 18px;
}

.element .ellipse-7 {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 1) 0%,
        rgba(221, 243, 216, 0) 100%
    );
    border-radius: 10.5px / 3.5px;
    bottom: 172px;
    height: 7px;
    left: 59px;
    position: absolute;
    width: 21px;
}

.element .openart-image {
    aspect-ratio: 0.78;
    bottom: 0;
    height: 184px;
    left: 0;
    position: absolute;
    transform: rotate(-180deg);
    width: 144px;
}

.element .frame-6 {
    align-items: center;
    background-color: #e27600;
    border-radius: 20px;
    bottom: 951px;
    box-shadow: 0px 4px 30px #e2760052;
    display: flex;
    gap: 10px;
    height: 83px;
    justify-content: center;
    left: 46px;
    padding: 622px;
    position: absolute;
    width: 208px;
}

.element .text-wrapper-71 {
    color: #ffffff;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: -615.50px;
    margin-left: -598.50px;
    margin-right: -598.50px;
    margin-top: -617.50px;
    position: relative;
    text-align: center;
    width: 161px;
}

.element .group-12 {
    bottom: 292px;
    box-shadow: 0px 4px 30px #00000026;
    height: 50px;
    left: 22.46%;
    position: absolute;
    width: 21.26%;
}

.element .rectangle-41 {
    background-color: #f4f4f4;
    border-radius: 8px;
    bottom: 10px;
    box-shadow: 0px 4px 30px #00000040;
    height: 41px;
    left: 0;
    position: absolute;
    width: 102.27%;
}

.element .triangle {
    bottom: 0;
    height: 21px;
    left: 28.41%;
    position: absolute;
    width: 17.05%;
}

.element .text-wrapper-72 {
    bottom: 307px;
    color: #37393d;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: calc(50.00% - 106px);
    letter-spacing: 1.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
}

.element .text-wrapper-73 {
    color: #27450e;
    direction: rtl;
    font-family: "Noto Sans Hebrew-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 16px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 364px;
    width: 176px;
}
