.chart_sec{max-width: 386px;margin: 0 auto; width: 100%;}
.chart_sec .chart_inner{background-color: var(--white);box-shadow: 0 2px 48px #0000000A;border-radius: 12px;padding: 20px 14px 11px;}
.chart_sec .chart_legend{margin-bottom: 10px;}
.chart_sec .chart_legend>div{margin-left:29px;line-height: 24px;color: var(--green);font-size: 18px;font-weight: 400;}
.chart_sec .chart_legend>div span{width: 14px;height: 14px;margin-left: 6px;border-radius: 50%;background-color: var(--green);}
.chart_sec .chart_legend>div.interest span{background-color: #E4061F;}
.chart_sec .chart_tab{}
.chart_sec .chart_tab button{padding: 0 12px;line-height: 25px;background-color:transparent;border: none;outline: none;color: #8D9196;font-size: 12px;font-size: 500;font-weight: 500;border-radius: 20px;cursor: pointer;}
.chart_sec .chart_tab button:not(:last-child){margin-left: 5px;}
.chart_sec .chart_tab button:hover,
.chart_sec .chart_tab button.active{background-color: var(--green);color: var(--white);}
.chart_sec .chart_title{font-size: 18px;line-height: 24px;}
.chart_sec .chart-container{height: 213px;}
.chart_sec .recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis g.recharts-layer.recharts-cartesian-axis-tick:first-child{opacity: 0 !important;}
.chart_sec .recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis text { transform: translateX(-40px); }
.chart_sec svg{outline: none !important;}

.recharts-tooltip-wrapper.recharts-tooltip-wrapper-left{margin-left:  50px;}
.recharts-tooltip-wrapper.recharts-tooltip-wrapper-right{margin-left:-50px;}
.recharts-tooltip-wrapper.recharts-tooltip-wrapper-top{}
.recharts-tooltip-wrapper.recharts-tooltip-wrapper-bottom .custom-chart-tooltip::before{bottom: auto; top: -6px; transform: translateX(-50%) scale(-1);}

/* ReturnsChart.css */
.custom-tooltip-box { background-color: #f5f5f5; border: 1px solid #f5f5f5; border-radius: 8px; padding: 6px 10px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); display: flex ; align-items: center; gap: 5px; flex-direction: column; }
.custom-chart-tooltip::before { content: ""; position: absolute; bottom: -6px; left: 50%; transform: translateX(-50%); width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid #F5F5F5; filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));}
.tooltip-item { font-size: 12px; line-height: 1; display: flex; align-items: center;font-weight: 500;} 
.interest span, .fund span { width: 10px; height: 10px; border-radius: 50%; margin-left: 5px; }
.interest span { background-color: #E4061F; }
.fund span { background-color: #27450E; } 


@media (max-width:413px) {
    .chart_sec { max-width: calc(100% - 20px); }
    





}