.broker_homepage{padding: 61px 0 369px;}
.broker_homepage .wrapper{max-width: 1351px;}
.broker_homepage .brokerhome_image{    position: absolute; top: calc(100% - 30px); right: -10px; }

/* broker_info_sec */
.broker_info_sec{width: 100%;}
.broker_info_sec .col:not(:last-child){margin-left: 30px;}
.broker_info_sec .col:nth-child(2){width:315px;}
.broker_info_sec .col:nth-child(3){width:388px;}
.broker_info_sec .total_comissions{font-size: 22px;font-weight: 400;line-height: 28px;color: var(--green);}
.broker_info_sec .your_balance{background-color: #D2E2CE;border: 1px solid #FFFFFF;border-radius: 10px;box-shadow: 0 4px 30px #00000040;font-size: 27px;line-height: 45px;color: var(--green);text-align: center;margin-bottom: 19px;}
.broker_info_sec .your_balance strong{font-size: 35px;}
.broker_info_sec .withdrawal{display: flex;align-items: center;justify-content: center;color: var(--green);font-size: 18px;line-height: 20px;cursor: pointer;padding: 0;background-color: transparent;border: none;margin: 0 auto;}
.broker_info_sec .withdrawal .icon{width: 42px;height: 42px;background-color: var(--orange);box-shadow: 0 3px 3px #00000040;border-radius: 50%;display: flex;align-items: center;justify-content: center;margin-left: 20px;}
.broker_info_sec .the_customers{    background-color: #C9D6C5; border: 1px solid #FFFFFF; border-radius: 10px; font-size: 18px; line-height: 48px; color: var(--green); text-align: center; margin-bottom: 15px;}
.broker_info_sec .the_customers strong{font-size: 18px;}

.broker_info_sec .new_link_send{background-color: var(--orange);text-align: center;cursor: pointer;padding: 0;border: none;color: var(--white);font-size: 20px;line-height: 49px;box-shadow: 0 4px 30px #00000040;border-radius: 10px;width: 100%;position: relative;}
.broker_info_sec .new_link_send:hover{background-color:var(--green);}
.broker_info_sec .new_link_send img{position: absolute;left:17px;top: 0;bottom: 0;margin: auto;}
.broker_info_sec .new_link_send::after{content:'';position: absolute;top: 0;bottom: 0;right: 6px;width: 5px;background-color: var(--white);border-radius: 10px;margin: auto;height: 75%;}

/* broker_statement_list */
.broker_statement_list{background-color: var(--white);box-shadow: 0 4px 30px #00000040;margin-top: 60px;}
.broker_statement_list .statement_had{padding:0 48px;border-bottom: 1px solid #27450E96;}
.broker_statement_list .month_tab{}
.broker_statement_list .month_tab li{margin-left: 66px;line-height: 24px;padding: 14px 0 25px;position: relative;cursor: pointer;color: var(--green);font-size: 18px;font-weight: 400;transition: 0.4s ease all;}
.broker_statement_list .month_tab li:hover{color: var(--orange);}
.broker_statement_list .month_tab li:last-child{margin-left:0;}
.broker_statement_list .month_tab li::after{content:'';position: absolute;bottom: -1px;right: 0;width: 100%;height:6px;background-color: var(--orange);opacity: 0;z-index: 1;}
.broker_statement_list .month_tab li.active{font-weight: 500;}
.broker_statement_list .month_tab li.active::after{opacity:1;}
.broker_statement_list .show_link{}
.broker_statement_list .show_link li:not(:last-child){margin-left:21px;}
.broker_statement_list .show_link .link{cursor: pointer;font-size: 14px;font-weight: 400;text-decoration: underline;line-height: 24px;}

.broker_statement_list .statement_inner{padding:25px 50px 38px;}
.broker_statement_list .statement_inner .colin{margin-left: 36px;width: calc(33.33% - 24px);}
.broker_statement_list .statement_inner .colin:last-child{margin-left: 0;}
.broker_statement_list .statement_inner ul{display: flex;align-items: center;justify-content: flex-start;margin-bottom: 9px;}
.broker_statement_list .statement_inner ul li{width: calc(50% - 67.5px);color: var(--green);line-height:24px;font-size: 14px;font-weight: 400;}
.broker_statement_list .statement_inner ul li:first-child{padding-right:24px;}
.broker_statement_list .statement_inner ul li:nth-child(3){width: 135px;padding-right: 19px;}
.broker_statement_list .statement_inner .details{border-radius: 10px;border: 1px dashed var(--green);}
.broker_statement_list .statement_inner .details li{line-height: 36px;padding:10px 0;font-size: 18px;}
.broker_statement_list .statement_inner .details li+li{font-size: 16px;}
.broker_statement_list .statement_inner .details li:last-child{padding-right: 0;}
.broker_statement_list .statement_inner .details span{display: block;padding: 0 19px 0 5px;border-radius: 0 20px 20px 0;color: var(--white);font-size: 16px;font-weight: 400;}
.broker_statement_list .statement_inner .details .no_offer_received span{background-color: #FF0000;}
.broker_statement_list .statement_inner .details .not_registered span{background-color: #ACACAC;}
.broker_statement_list .statement_inner .details .offer_accepted span{background-color: #00905F;}

/* responsive */
.broker_homepage h1{display: none;}
@media (max-width:1399px) {
    .broker_homepage .wrapper { max-width: 1260px;}
    .broker_statement_list .statement_had { padding: 0 30px; }
    .broker_statement_list .statement_inner { padding: 25px 30px 38px; }
    .broker_statement_list .statement_inner ul li:first-child { padding-right: 16px; }
    .broker_statement_list .statement_inner .details li { font-size: 16px; }
    .broker_statement_list .statement_inner .details li+li { font-size: 14px; }
    .broker_statement_list .statement_inner .details span { font-size: 14px;}



}
@media (max-width:1279px) {
    .broker_homepage .wrapper { max-width: calc(100% - 20px); }
    .broker_statement_list .month_tab li { margin-left: 45px; }
    .broker_statement_list .statement_inner ul li:first-child { padding-right: 10px; }
    .broker_statement_list .statement_inner ul li:nth-child(3) { width: 120px; padding-right: 10px; }
    .broker_statement_list .statement_inner .colin { margin-left: 20px; width: calc(33.33% - 14px); }
    .broker_statement_list .statement_inner { padding: 25px 20px 30px; }
    .broker_statement_list .statement_inner ul li { width: calc(50% - 54px); line-height: 24px; font-size: 14px;}
    .broker_statement_list .statement_inner .details li { font-size: 14px; }



}
@media (max-width:1023px) {
    .broker_homepage h1 { display: block; width: 100%; text-align: center; font-size: 22px; line-height: 24px; font-weight: 300; margin-bottom: 30px;}
    .broker_homepage .brokerhome_image{display: none;}
    .broker_homepage { padding: 22px 0 160px; }
    .broker_homepage .wrapper { max-width: calc(100% - 12px); }
    .broker_statement_list .statement_had{border-color: #000;}
    .broker_statement_list { background-color: transparent; box-shadow: none; margin-top: 40px; }
    .broker_statement_list .statement_inner{justify-content: space-between !important;}
    .broker_statement_list .statement_inner .colin { margin-left: 20px; width: calc(50% - 10px); }
    .broker_statement_list .statement_inner .colin:last-child {margin-left: 20px;}
    .broker_statement_list .statement_inner .colin:nth-child(2n){margin-left: 0; }
    .broker_statement_list .statement_inner ul li:nth-child(3) { width: 145px; }







}

@media (max-width:767px) {

    .broker_homepage h1{margin-bottom: 20px;}
    .broker_info_sec .col:not(:last-child) { margin-left: 0; width: 100%; text-align: center; margin-bottom: 20px;}
    .broker_info_sec{max-width:388px;margin: 0 auto;}
    .broker_info_sec .col:nth-child(2){display: flex;flex-direction: column-reverse;}
    .broker_info_sec .the_customers { max-width: 261px; margin: 0 auto 11px; }
    .broker_info_sec .your_balance { font-size: 16px; line-height: 45px; margin-bottom: 0px; }
    .broker_info_sec .your_balance strong { font-size: 16px;}
    .broker_info_sec .col:not(:last-child) { margin-bottom: 11px; }
    .broker_info_sec .col .withdrawal{border-bottom: 1px solid #27450E59;padding-bottom: 24px;margin-bottom: 11px;        width: 100%;}
    .broker_info_sec .your_balance {        max-width: 261px; margin: 0 auto; min-width: 261px; }
    .broker_info_sec .total_comissions{font-size: 17px;line-height: 24px;}
    .broker_info_sec .total_comissions strong{font-size: 35px; line-height: 22px; margin-top: 15px; display: block; }
    .broker_statement_list { margin-top: 25px; }
    .broker_statement_list .month_tab li { margin-left: 0px; line-height: 20px; padding: 10px 0 15px; font-size: 16px; }
    .broker_statement_list .month_tab li::after{height: 5px;}
    .broker_statement_list .show_link{display: none;}
    .broker_statement_list .month_tab{width: 100%;justify-content: space-between;}
    .broker_statement_list .statement_inner .colin { margin-left: 0 !important; width: 100%;}
    .broker_statement_list .statement_inner .colin+.colin .title{display: none;}

    .broker_statement_list .statement_inner { padding: 15px 10px 30px; }
    .broker_homepage { padding: 22px 0 121px; }








}